.background {
    background: center no-repeat url(background.png);
}

.logo {
    background-image: url(logo.png);
}

.loading {
    background-image: url(loading.png);
}

.progressBar {
    background-color: rgb(255, 31, 90);
}

.splash {
    background-image: url(spiderman.png);
}
  
/*.watermark {
background-image: url(watermark.png);
background-size: 57px 57px;
}*/